body {
  background-color: rgb(36, 201, 173);
}

img {
  height: 50px;
  width: 50px;
  margin: 15px;
}

.board {
  height: 640px;
  width: 640px;
  margin: auto;
  display: table;
  border: 1px solid;
}

a {
  color: black;
  text-decoration: none;
}

.box {
  height: 80px;
  width: 80px;
  display: table-cell;
  text-align: center;
  font-size: 60px;
}

.dark {
  background-color: rgb(125, 135, 150);
}

.light {
  background-color: rgb(202, 207, 214);
}
